___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv("Ecommerce Purchases")

**Check the head of the DataFrame.**

In [3]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [23]:
len(ecom.index)

10000

In [24]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [8]:
ecom.shape

(10000, 14)

** What is the average Purchase Price? **

In [28]:
ecom['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [7]:
ecom["Purchase Price"].max()

99.99

In [93]:
ecom["Purchase Price"].min()

0.0

In [19]:
ecom["Purchase Price"].count()

10000

In [20]:
ecom["Purchase Price"]

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [41]:
[ecom['Language']=='en']

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 9995    False
 9996    False
 9997    False
 9998    False
 9999    False
 Name: Language, Length: 10000, dtype: bool]

In [18]:
ecom[ecom['Language']=='en']

0       14
1       14
2       14
3       14
4       14
        ..
9995    14
9996    14
9997    14
9998    14
9999    14
Length: 10000, dtype: int64

In [30]:
ecom[ecom['Language']=='en'].head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62

** How many people have English 'en' as their Language of choice on the website? **

In [32]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [43]:
ecom[ecom['Language']=='en']['Language'].count()

1098

In [36]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [40]:
ecom[ecom['Job']=='Lawyer']['Job'].count()

30

** How many people have the job title of "Lawyer" ? **

In [46]:
ecom[ecom['Job']=='Lawyer']['Job'].index

Int64Index([ 470,  508, 1275, 1569, 1682, 2164, 2619, 2935, 3663, 3738, 3966,
            5053, 5339, 5452, 5562, 5974, 6131, 6136, 6220, 7368, 7645, 8127,
            8220, 8620, 8683, 8801, 8860, 9175, 9659, 9979],
           dtype='int64')

In [47]:
len(ecom[ecom['Job']=='Lawyer']['Job'].index)

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [48]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [55]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** What are the 5 most common Job Titles? **

In [97]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

513    75.1
Name: Purchase Price, dtype: float64

In [59]:
ecom[ecom['Lot']=='90 WT']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [62]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [61]:
ecom[ecom['Lot']=='90 WT']['Lot']

513    90 WT
Name: Lot, dtype: object

In [65]:
ecom[ecom['Credit Card']== 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [81]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index

Int64Index([   9,  280,  372,  677,  766, 1225, 1381, 1385, 1568, 1727, 2146,
            2264, 2267, 2642, 2828, 3291, 3349, 3619, 4071, 4569, 5385, 5655,
            5692, 5814, 5875, 5895, 6026, 6524, 7239, 7381, 7416, 7514, 8233,
            8381, 8408, 8434, 8817, 9168, 9856],
           dtype='int64')

In [87]:
len(ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].index)

39

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [79]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 9 to 9856
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           39 non-null     object
 1   Lot               39 non-null     object
 2   AM or PM          39 non-null     object
 3   Browser Info      39 non-null     object
 4   Company           39 non-null     object
 5   Credit Card       39 non-null     int64
 6   CC Exp Date       39 non-null     object
 7   CC Security Code  39 non-null     int64
 8   CC Provider       39 non-null     object
 9   Email             39 non-null     object
 10  Job               39 non-null     object
 11  IP Address        39 non-null     object
 12  Language          39 non-null     object
 13  Purchase Price    39 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 4.6+ KB

** Hard: How many people have a credit card that expires in 2025? **

In [91]:
ecom['CC Exp Date'].iloc[0][3:]

'20'

In [ ]:
ecom['CC Exp Date'].iloc[0][3:]

In [92]:
ecom['CC Exp Date'].apply(lambda exp:exp[3:]=='25')

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [95]:
ecom[ecom['CC Exp Date'].apply(lambda exp:exp[3:]=='25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [99]:
example_email = ecom['Email'].iloc[0]

In [101]:
example_email.split('@')

['pdunlap', 'yahoo.com']

In [102]:
example_email.split('@')[1]

'yahoo.com'

In [105]:
ecom['Email'].apply(lambda email : email.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!