In [99]:
import numpy as np

In [100]:
import pandas as pd

In [101]:
labels = ['a','b','c'] # list
my_data = [10,20,30] # data
arr = np.array(my_data) # array
d = {'a':10, 'b':20, 'c':30} # dictinoary harfler key sayilar value c is a key 30 is a value bir sozluk olusturalim

In [102]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [103]:
pd.Series([5,3,6],)

0    5
1    3
2    6
dtype: int64

In [104]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [105]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [106]:
pd.Series(arr,)

0    10
1    20
2    30
dtype: int32

In [107]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [108]:
pd.Series(d, index=labels)

a    10
b    20
c    30
dtype: int64

In [109]:
d

{'a': 10, 'b': 20, 'c': 30}

In [110]:
labels

['a', 'b', 'c']

In [111]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [112]:
ser1 = pd.Series([1,2,3,4], ['USA','Germany','USSR','Japan'])

In [113]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [114]:
ser2 = pd.Series([1,2,5,4], ['USA','Germany','Italy','Japan'])

In [115]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [116]:
ser1['USA']

1

In [117]:
ser3 = pd.Series(data=labels)

In [118]:
ser3

0    a
1    b
2    c
dtype: object

In [119]:
ser3[0]

'a'

In [120]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [121]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [122]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [123]:
import numpy as np
import pandas as pd
dict = {'x':10,'y':20}
pd.Series(dict)

x    10
y    20
dtype: int64

Pandas - DataFrames

In [130]:
import numpy as np
import pandas as pd

In [131]:
from numpy.random import randn

In [132]:
np.random.seed(101)

In [134]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])

In [135]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [1]:
## https://www.w3resource.com/python-exercises/pandas/index.php