# Martin Lane (Regex)

In [26]:
import re # reguler expressions kutuphanesini indiriyoruz
import pandas as pd

# https://regex101.com/

In [27]:
text = re.search('\d', 'A213') # 'A2' strink yapisinin icerisindeki \d yani digital karekteri getir
print(text)

<re.Match object; span=(1, 2), match='2'>

In [28]:
text = re.search('\d', 'A213') # ciktiyi bir obje seklinde istemiyorsak bunu text.group() seklinde cikti alabiliriz
print(text.group())

2

In [29]:
text = re.search('\D', '56A') # non decimal karekterleri alir
print(text.group())

A

In [34]:
text = 'My phone number is 505-555-5555'
output = re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)',text)
print(output.group())

505-555-5555

In [32]:
text = 'My phone number is 5055555555'
output = re.search('(\d\d\d)(\d\d\d)(\d\d\d\d)',text)
print(output.group())

5055555555

In [33]:
print(output)

<re.Match object; span=(19, 29), match='5055555555'>

In [53]:
text = 'My phone number is 505 555 5555'
output = re.search('(\d\d\d)\s(\d\d\d)\s(\d\d\d\d)',text)
print(output.group())

505 555 5555

In [46]:
text = 'My phone number is 415-555-1212'

In [51]:
output = re.search('(\d\d\d)-((\d\d\d)-(\d\d\d\d))', text)
print(output.group(1))

415

In [50]:
output = re.search('(\d\d\d)-(\d\d\d-\d\d\d\d)', text)
print(output.group(2))

555-1212

In [58]:
text = 'My phone number is (415) 555-1212'
output = re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d)', text)
print(output.group(1,2))

('(415)', '555-1212')

In [69]:
value = "O 1, t 10, o 100. 100000"  # hem 1 sayisini hem 10 sayisini hemde 100 sayisini tespit etmesini istersek
output = re.findall('\d{1,6}',value) # {1,6} bir basamakli sayilardan 6 basamaklisayilara kadar olanlarin hepsini tespit et
print(output)

['1', '10', '100', '100000']

In [70]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d',value) # tek basamakli digital karekterleri tek tek getiriyor
print(output)

['1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '0', '0']

In [71]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d\d',value) # cift basamakli digital karekterleri tek tek getiriyor
print(output)

['10', '10', '10', '00', '00']

In [72]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d\d\d',value) # cift basamakli digital karekterleri tek tek getiriyor
print(output)

['100', '100', '000']

In [75]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D',"",phone)  # \D sadece numerik degerleri getirdi "" digerlerini getirme
print(output)

2004959559

In [74]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D','-',phone) # \D bunun ile tum numerik degerleri getirdi,  '-' numerik olmayan diger degerlerin yerine - 
print(output)

2004-959-559-----------------------

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group

In [79]:
txt = "hello world"
output = re.findall("^hello", txt)
if output:
    print("Yes starts with hello")
else:
    print("No")

Yes starts with hello

In [80]:
import re

txt = "hello world"
output = re.findall('world$',txt)
print(output)

['world']

In [81]:
s = pd.Series(['a3', 'b4', 'c5']) # serinin ilk elemani olan a3 u buldu burada numerik data varsa aldi 0. dizine yazdi.
                                    # sonra diegerlerini
s.str.extract('(\d)') # (sadece sayilari istiyorum.)  seri

   0
0  3
1  4
2  5

In [90]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s.str.extract('(\w\d)')

    0
0  a3
1  b4
2  c5

In [89]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s.str.extract('(\w\w\d)')

     0
0  NaN
1  NaN
2  NaN

In [91]:
s= pd.Series(['40 l/100 km (comb)',  # en bastaki sayilari extract etmek istiyorum.
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

result = s.str.extract('(\d\d|\d.\d|\d)')
result

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [95]:
s= pd.Series(['40 l/100 km (comb)', # burada 100 degerlerinide almak istiyorum
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
result2 = s.str.extract('(\d\d|\d.\d|\d).+(\d\d\d)') # ilk grubu 0. stunda ikinci grubu 1. dizinde listeledi
result = s.str.extract('(^\d*.\d*) \w*/(\d*)')
result

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [96]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
result = s.str.extract("(\d\d).(\d\d\d\d)")
result2 = s.str.extract("(\d{2}).(\d{4})")
result3 = s.str.extract("(\d*).(\d*)")
result4 = s.str.extract("(\d\d)/(\d*)")
result5 = s.str.extract("(\d\d)/(\d\d\d\d)")
result5

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [97]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

result = s.str.extract('(\d{1,2})/(\d{4})')
result

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [ ]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

In [ ]:
result = s.str.extract('(\d{2})/(\d{4})\s\s(\d{3}|\d.\d)')
result